In [1]:
print('hello world')

hello world

In [2]:
import pandas as pd

products = pd.read_excel('datasets/supermarket_products.xlsx')

In [3]:
products

              Product       Category  Unit Cost of Goods
0             chicken           meat                5500
1                beef           meat                5000
2                pork           meat                4000
3             tilapia           meat                3500
4   laundry detergent     detergents                3000
5             shampoo  personal care                3000
6         all purpose     detergents                2700
7       shaving cream  personal care                2400
8           dish soap     detergents                2300
9           hand soap  personal care                2300
10             loaves         bakery                2000
11       toilet paper    toileteries                1700
12               buns         bakery                1500
13            ketchup    canned food                1500
14            bananas         fruits                1500
15       paper towels    toileteries                1500
16               soda      beverages                1000
17             apples         fruits                 900
18              beans    canned food                 800
19            oranges         fruits                 800
20           cupcakes         bakery                 500
21            cookies         bakery                 500
22                tea      beverages                 300
23             coffee      beverages                 200

In [4]:
products.groupby('Category').count()

               Product  Unit Cost of Goods
Category
bakery               4                   4
beverages            3                   3
canned food          2                   2
detergents           3                   3
fruits               3                   3
meat                 4                   4
personal care        3                   3
toileteries          2                   2

In [5]:

products.query("Category== 'meat'")

   Product Category  Unit Cost of Goods
0  chicken     meat                5500
1     beef     meat                5000
2     pork     meat                4000
3  tilapia     meat                3500

In [6]:
'Hello world'

'Hello world'

In [10]:
products.loc[products['Category']=='meat',:]

   Product Category  Unit Cost of Goods
0  chicken     meat                5500
1     beef     meat                5000
2     pork     meat                4000
3  tilapia     meat                3500

In [11]:
products['Category'].unique()

array(['meat', 'detergents', 'personal care', 'bakery', 'toileteries',
       'canned food', 'fruits', 'beverages'], dtype=object)

In [12]:
products['Category'].value_counts()

meat             4
bakery           4
detergents       3
personal care    3
fruits           3
beverages        3
toileteries      2
canned food      2
Name: Category, dtype: int64